---
import '../styles/global.css';
const regex = /<\/span><\/a>(.*)<\/h1>/
const title = regex.exec(await Astro.slots.render('default'))[1];
const url = Astro.request.url;
---

<html lang='en'>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
	</head>
	<body>
    <main>
      <slot />
		</main>
	</body>
</html>
